:root {
    --navbarcolor: #01031dd6;
    --parallaxcolor: #01031df0;
}

.grid-container.nav {
    display: block;
    grid-template-columns: 150px auto 600px;
    padding: 17.1px;
    background-color: var(--navbarcolor);
    position: sticky;
    top: 0;
    z-index: 1;
}
.grid-item{
    width: 500px;
}
.nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 600px;
    z-index: 999;
    justify-content: flex-end;
    /* Align items to the right in full-screen mode */
    align-items: center;
}

#myTopnav {
    display: block;
}


#myTopnav.icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

#myTopnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: fit-content;
}

#myTopnav li {
    float: left;
}

#myTopnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

#myTopnav li a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}

.nav.grid-container {
    position: sticky;
    top: 0px;
    display: grid;
    grid-template-columns: 458px auto 700px;
    align-items: center;
    padding: 10px;
    justify-content: flex-start;
    z-index: 1;
}

.grid-item-nav {
    grid-column: 3;
    align-content: center;
    position: relative;
    top: 35%;
    transform: translateX(-50%);
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
    position: relative;
}

.nav li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.nav li a:hover {
    background-color: #ddd;
}

.nav .icon {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    color: #ddd;
}

/* Normal nav items */
.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
}

.logo {
    width: 100%;
    height: 60px;
  }
  

/* for normal screen */
@media (min-width: 768px) {
    .nav-items {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-item {
        margin: 0 0px;
    }

    .nav-link {
        padding: 0;
    }
}

/* for responsive mode */
@media (max-width: 1200px) {
    .nav-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        background-color: white;
        z-index: 1;
        overflow: hidden;
        transition: all 0.5s ease;
        max-height: 0;
    }

    .nav-items.active {
        max-height: 1000px;
        overflow: hidden;}}


.pimg1,
.pimg2,
.pimg3 {
    position: relative;
    opacity: 70%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.pimg1 {
    background-image: url('./imgs/EngineeringCaps.jpg');
    min-height: 700px;

}

.pimg2 {
    background-image: url('./imgs/engineertablestockphoto.jpg');
    min-height: 400px;
}

.pimg3 {
    background-image: url('./imgs/engineeratnighstockphoto.jfif');
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;

}

.section-dark {
    background-color: #282e34;
    color: #ddd;

}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    /* background-color: #01031df0; */
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: var(--parallaxcolor);
    color: white;
    padding: 20px;

}

.ptext .border.trans {
    background-color: transparent;
}

@media(max-width:568px) {

    .pimg1,
    .pimg2,
    .pimg3 {
        background-attachment: scroll;
    }
}

/* .pimg4 {
  background-image: url('./imgs/workingtogether.png');
  min-height: 400px;
} */