nav {
  position: sticky;
  top: 2px;
  display: grid;
  opacity: 100%;
  background-color: #111;
  height: 50px;

}

.grid-container {
  display: grid;
  grid-template-columns: 458px auto auto;
  gap: 10px;
  padding: 10px;
}

.logo {
  height: 55px;
  width: fit-content;

}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: end;

}

li {
  width: fit-content;
  font-size: 1rem bold;
  font-weight: 400;

}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-bottom: -1px;
}

li a:hover {
  background-color: #333;

}

.center {
  /* position: absolute; */
  left: 50%;
  right: 50%;
  width: 200px;
  padding: 10px;
}

.navbar-collapse {
  display: -ms-flexbox !important;
  /* display: flex !important; */
  -ms-flex-preferred-size: auto;
  flex-basis: auto
}

.navbar-expand {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  /* justify-content: flex-start */
}


/* importing edits */

.navbar-expand-lg {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start
}

/* css for index.php page */

.body,html {
  height: 100%;
  margin: 0;
  font-size: 19px;
  font-family: "lato",sans-serif;
  font-weight: 350;
  line-height: 1.8em;
  color: #666 ;
}


.pimg1, .pimg2, .pimg3, .pimg4 {
  position: relative;
  opacity: 70%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.pimg1 {
  background-image: url('./imgs/EngineeringCaps.jpg');
  min-height: 100%;

}
.pimg2 {
  background-image: url('./imgs/engineertablestockphoto.jpg');
  min-height: 400px;
}
.pimg3 {
  background-image: url('./imgs/engineeratnighstockphoto.jfif');
  min-height: 400px;
}
/* .pimg4 {
  background-image: url('./imgs/workingtogether.png');
  min-height: 400px;
} */