nav {
  position: sticky;
  top: 2px;
  display: grid;
  
  background-color: #111;
  height: 50px;

}

.grid-container {
  display: grid;
  grid-template-columns: 458px auto auto;
  gap: 10px;
  padding: 10px;
}

.logo {
  height: 55px;
  width: fit-content;

}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: end;

}

li {
  width: fit-content;
  font-size: 1rem bold;
  font-weight: 400;
 
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-bottom: -1px;
}

li a:hover {
  background-color: #333;

}

.center {
  /* position: absolute; */
  left: 50%;
  right: 50%;
  width: 200px;
  padding: 10px;
}

.navbar-collapse {
  display: -ms-flexbox !important;
  /* display: flex !important; */
  -ms-flex-preferred-size: auto;
  flex-basis: auto
}

.navbar-expand {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  /* justify-content: flex-start */
}
