:root {
  --navbarcolor: #01031df0;
  --parallaxcolor: #01031df0;
}

nav {
  position: sticky;
  top: 0px;
  display: grid;
  
  background-color: var(--navbarcolor);
  height: 70px;
  z-index: 1;
  overflow: hidden;

}

.grid-container {
  
  grid-template-columns: 458px auto 700px;
  
}

.grid-item {
  height: 70px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;

}

.grid-item-nav {
  height: 70px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;

}

.login-form {
  margin-left: 41%;
  margin-right: 40%;
  width: 50%;
  text-align: center;
}

.logo {
  height: 60px;
  width: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  height: 70px;

}

li {
  /* width: fit-content; */
  height: 70px;
  display: flex;
  align-items: center;
}


li a {
  display: block;
  color: white;
  padding: 17.1px;
  width: 140px;
  text-align: center;
  text-decoration: none;
  font-size: small;

}



li:hover {
  background-color: #021f3de6;
   box-shadow: inset 0 0px -5px 0px #fff;
  padding: 16px 16px 16px 16px;
}

.center {
  position: absolute;
  width: 200px;
  padding: 10px;
}



/* hamburger icon */

.grid-item-nav .icon{
  display: none;
  
}

@media screen and (max-width: 1200px) {
  li a {display: none;
    /* padding: 5px; */
    height: 70px;
    
  }
   li a.icon {
    float: right;
    display: block;
    
  }

  .grid-item-nav .icon{
    /* display: block; */
    
  }
}

@media screen and (max-width: 1200px) {
  .grid-item-nav.responsive {position: relative;}
  .grid-item-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .grid-item-nav.responsive a {
    float: none;
    display: block;
    text-align: center;
    padding: 15px 0px !important;
  }

  .grid-item-nav.responsive ul{
    background-color: var(--navbarcolor);
  }

  ul {
    display: inline;
    z-index: 100;
    position: fixed;
    height:auto;
  }
}




/* importing edits */

/* .navbar-expand-lg {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start
} */

/* css for index.php page */

.body,
html {
  height: 100%;
  margin: 0;
  font-size: 19px;
  font-family: "lato", sans-serif;
  font-weight: 350;
  line-height: 1.8em;
  color: #666;
}


.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 70%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.pimg1 {
  background-image: url('./imgs/EngineeringCaps.jpg');
  min-height: 700px;

}

.pimg2 {
  background-image: url('./imgs/engineertablestockphoto.jpg');
  min-height: 400px;
}

.pimg3 {
  background-image: url('./imgs/engineeratnighstockphoto.jfif');
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;

}

.section-dark {
  background-color: #282e34;
  color: #ddd;

}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  /* background-color: #01031df0; */
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: var(--parallaxcolor);
  color: white;
  padding: 20px;

}

.ptext .border.trans {
  background-color: transparent;
}

@media(max-width:568px) {

  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
}

/* .pimg4 {
  background-image: url('./imgs/workingtogether.png');
  min-height: 400px;
} */
